{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My App</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>
<body>
        <nav class="container-fluid">
            <ul>
              <li>
                <a href="./" class="contrast" onclick="event.preventDefault()"><strong>My APP</strong></a>
              </li>
            </ul>
            <ul>
              <li>
                <details role="list" dir="rtl">
                  <summary aria-haspopup="listbox" role="link" class="secondary">Theme</summary>
                  <ul role="listbox">
                    <li><a href="#" data-theme-switcher="light">Light</a></li>
                    <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                  </ul>
                </details>
              </li>
              {% if user.is_authenticated %}
                  <li><a href="{% url 'logout' %}">logout</a></li>
              {% else %}
                  <li><a href="{% url 'login' %}">Sign In</a></li>
                  <li><a href="{% url 'register' %}">Sign Up</a></li>
              {% endif %}
            </ul>

          </nav>
    <main class="container">
        {% block content %}{% endblock %}        
    </main>
    <footer class="container-fluid">
        <p>&copy; 2023 My APP</p>
    </footer>
    <script src="{% static 'js/minimal-theme-switcher.js' %}"></script>
</body>
</html>
