{% extends 'base.html' %}

{% block content %}
  <h2>Detalles de estudiante</h2>
  <img src="{{ endpoint }}/{{student.school}}/{{student.id}}.webp" alt="{{ student.name }}" style="border-radius:50%; max-width:300px;">
  <p>Nombre: {{ student.name }}</p>
  <p>Fecha de Nacimiento: {{ student.date_of_birth }}</p>
  <p>Activo: {{ student.active }}</p>
  <p>RH: {{ student.rh }}</p>
  <p>Alergies: {{ student.alergies }}</p>
  <p>medications: {{ student.medications }}</p>
  
  <details>
    <summary>Observaciones:</summary>
    {% if student.get_observations %}
    <ul>
      {% for observation in student.get_observations %}
        <li>{{ observation.date }}: {{ observation.observation }}</li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No hay observaciones para este estudiante.</p>
    {% endif %}
  </details>
  
  <a href="{% url 'student_update' pk=student.pk %}">Editar</a>
  <a href="{% url 'student_delete' pk=student.pk %}">Eliminar</a>
  <a href="{% url 'student_list' %}">Volver a la Lista</a>

  <a href="{% url 'add_observation' student_id=student.id %}">Agregar Observación</a>

{% endblock %}
