{% extends 'base.html' %}
{% block content %}
<ul>
    <li>Nombre de usuario: {{ request.user.name }}</li>
    <li>Rol: {{ request.user.role }}</li>
    <li>Sede: {{ request.user.course }}</li>
</ul>
<form method="post">
    {% csrf_token %}
    <div class="grid">
        <div>
            <label>
                {{ form.involucrados.field.label }}
                {{ form.involucrados }}
            </label>
        </div>
        <div>
            <label>
                {{ form.atentos.field.label }}
                {{ form.atentos }}
            </label>
        </div>    
    </div>
    <div class="grid">
        <div>
            <label>
                {{ form.actividades_interesantes.field.label }}
                {{ form.actividades_interesantes }} 
            </label>
        </div>
        <div>
            <label>
                {{ form.tiempo_suficiente.field.label }}
                {{ form.tiempo_suficiente }}
            </label>
        </div>
      </div>
    <div class="grid">
        <div>
            <label>    
            {{ form.material_agradable.field.label }}
            {{ form.material_agradable }}
            </label>
        </div>
        <div>
            <label>
            {{ form.trabajo_fuera_aula.field.label }}
            {{ form.trabajo_fuera_aula }}
            </label>
        </div>   
    </div>
    <div class="grid">
        <div>
            <label>
            {{ form.interrupciones.field.label }}
            {{ form.interrupciones }}
            </label>
        </div>
    </div>
    <div class="grid">
        <div>
            <label>
                {{ form.influencias.field.label }}
                {{ form.influencias }}
            </label>
        </div>
        <div>
            <label>
                {{ form.situacion_relevante.field.label }}
                {{ form.situacion_relevante }}
            </label>
        </div>
    </div>
    <button type="submit">Guardar</button>
</form>

      {% endblock %}