{% extends 'base_journal.html' %}
{% block content %}

    <h1>Lista de Registros Diarios</h1>    
    <form method="GET">
        <label for="fecha_filtro">Filtrar por Fecha:</label>
        <input type="date" name="fecha_filtro" id="fecha_filtro">
    
        <label for="empleado_filtro">Filtrar por Empleado:</label>
        <select name="empleado_filtro" id="empleado_filtro">
            <option value="">Todos los empleados</option>
            {% for empleado in empleados %}
                <option value="{{ empleado.0 }}">{{ empleado.1}}</option>
            {% endfor %}
        </select>
    
        <button type="submit">Filtrar</button>
    </form>
    
    <!-- Inicializa flatpickr en el campo de fecha -->
    <script>
        flatpickr("#fecha_filtro", {
            dateFormat: "Y-m-d", // Formato de fecha
        });
    </script>
    <div id="w"></div>

    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
        var registrosDjango = {{ registros|safe }};
        console.log(registrosDjango);
        new gridjs.Grid({
            columns: ["id", "fecha", "empleado", "tiempo_suficiente", "actividades_interesantes", "material_agradable", "trabajo_fuera_aula", "involucrados", "atentos", "interrupciones", "influencias", "situacion_relevante"],
            data: registrosDjango,
            search: true,
            sort: true,
            pagination: true,
            resizable: true,
        }).render(document.getElementById("w"));
    </script>
{% endblock %}