{% extends 'base.html' %}
{% block content %}
    <h1>Lista de Registros Diarios</h1>

    <!-- Formulario de filtro -->
    <form method="GET">
        <label for="fecha_filtro">Filtrar por Fecha:</label>
        <select name="fecha_filtro" id="fecha_filtro">
            <option value="">Todas las fechas</option>
            {% for fecha in fechas %}
                <option value="{{ fecha|date:'Y-m-d' }}">{{ fecha|date:'Y-m-d' }}</option>
            {% endfor %}
        </select>
        <label for="empleado_filtro">Filtrar por Empleado:</label>
        <select name="empleado_filtro" id="empleado_filtro">
            <option value="">Todos los empleados</option>
            {% for empleado in empleados %}
                <option value="{{ empleado }}">{{ empleado }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </form>
    
    <table>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha</th>
            <th scope="col">Empleado</th>
            <th scope="col">Tiempo Suficiente:</th>
            <th scope="col">Actividades de Interés</th>
            <th scope="col">Material Agradable</th>
            <th scope="col">Trabajo Fuera del Aula</th>
            <th scope="col">Involucrados</th>
            <th scope="col">Atentos: {{ registro.atentos }}</th>
            <th scope="col">Interrupciones: {{ registro.interrupciones }}</th>
            <th scope="col">Influencias: {{ registro.influencias }}</th>
            <th scope="col">Situación Relevante: {{ registro.situacion_relevante }}</th>
          </tr>
        </thead>
        <tbody>
        {% for registro in registros %}
            <tr>
                <th scope="row">{{ registro.id }}</th>
                <td>{{ registro.fecha }}</td>
                <td>{{ registro.empleado }}</td>
                <td>{{ registro.tiempo_suficiente }}</td>
                <td>{{ registro.actividades_interesantes }}</td>
                <td>{{ registro.material_agradable }}</td>
                <td>{{ registro.trabajo_fuera_aula }}</td>
                <td>{{ registro.involucrados }}</td>
                <td>{{ registro.atentos }}</td>
                <td>{{ registro.interrupciones }}</td>
                <td>{{ registro.influencias }}</td>
                <td>{{ registro.situacion_relevante }}</td>
            </tr>
        {% empty %}
            <li>No hay registros disponibles.</li>
        {% endfor %}  
        </tbody>
      </table>
{% endblock %}